@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-blue: #2563EB;
  --color-accent-green: #16A34A;
  --color-accent-red: #DC2626;
  --color-neutral-white: #FFFFFF;
  --color-soft-gray: #F3F4F6;
}

body {
  background-color: var(--color-neutral-white);
  color: #1f2937;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155;
}