@import "tailwindcss";

@theme {
  --color-primary-blue: #2563EB;
  --color-accent-green: #16A34A;
  --color-accent-red: #DC2626;
  --color-neutral-white: #FFFFFF;
  --color-soft-gray: #F3F4F6;
}

body {
  background-color: var(--color-neutral-white);
  color: #1f2937;
}